.card {
    margin: 10px 0;
}

.card img {
  object-fit: contain;
  width: 100%;
  height: 250px;
  padding: 1.25rem;
}

.card-title {
    font-weight: bold;
}

.card-text {
  overflow: auto;
  height: 150px;
  margin-bottom: 1rem;
}

.card .btn {
    color: #fff;
}
