<div class="card">
  <img class="card-img-top" [src]="beer.image_url" [alt]="beer.name">
  <div class="card-body">
    <p *ngIf="!isEditing" class="card-title">{{ beer.id }}. {{ beer.name }}</p>
    <div *ngIf="isEditing">
      Name:
      <input class="form-control" type="text" [(ngModel)]="beer.name">
    </div>
    <div class="card-text">
      <p>
        <strong>First Brewed:</strong> {{ beer.first_brewed }}</p>
      <p *ngIf="!isEditing">
        <strong>Description:</strong> {{ beer.description }}</p>
      <div *ngIf="isEditing">
        Description:
        <br>
        <input class="form-control" type="text" [(ngModel)]="beer.description">
      </div>
    </div>
    <a *ngIf="isEditing" (click)="updateBeer()" class="btn btn-primary">Save</a>
    <a *ngIf="!isEditing" (click)="toggleEditBeer()" class="btn btn-primary">Edit</a>
    <a (click)="deleteBeer()" class="btn btn-danger">Delete</a>
  </div>
</div>
