<div class="container">
  <div class="row">
    <div *ngFor="let beer of beers" class="col-4">
      <beerCard [beer]="beer" (onDelete)="deleteBeer(beer)"></beerCard>
    </div>
  </div>
  <div *ngIf="showMoreButton && beers" class="row show-more">
    <a (click)="getMoreBeer()" class="btn btn-secondary">
      <ng-container *ngIf="!isLoading">Show More</ng-container>
      <ng-container *ngIf="isLoading">Loading...</ng-container>
    </a>
  </div>
</div>
